In [90]:
import pandas as pd 
data = pd.read_parquet('database/twitter_human.parquet') # https://huggingface.co/datasets/arrmlet/twitter 

data.to_csv("database/twitter_human.csv", index=False)

In [91]:
df = pd.read_csv('database/concat_df.csv')
data = pd.read_csv('database/twitter_human.csv')
df.head()

C:\Users\t213792\AppData\Local\Temp\ipykernel_11448\3469195835.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('database/concat_df.csv')

                                                text origin model
0  when modi promised “minimum government maximum...  human   NaN
1  talk all the nonsense and continue all the dra...  human   NaN
2           kiya tho refresh maarkefir comment karo   human   NaN
3  with upcoming election india saga going import...  human   NaN
4                         gandhi was gay does modi    human   NaN

In [92]:
data.head()

,text,label,tweet_hashtags,datetime
0,"An assessment of #NEAR, #RNDR, and #TAO’s pric...",#near,['#NEAR' '#RNDR' '#TAO' '#AI' '#token' '#Crypt...,2024-06-06
1,Could be...\n\n#Bitcoin.,#bitcoin,['#Bitcoin'],2024-18-05
2,#love #surfing #ascension #health #music #posi...,#love,['#love' '#surfing' '#ascension' '#health' '#m...,2024-27-05
3,#NationalTechnologyDay #Technology #AI #Scienc...,#nationaltechnologyday,['#NationalTechnologyDay' '#Technology' '#AI' ...,2024-12-05
4,The Obesity Treatment Program offered at Isha ...,#ishahealthsolutions,['#IshaHealthSolutions' '#YogicLifestyle' '#He...,2024-15-05

In [93]:
data['origin'] = 'human'
data['model'] = None
data.head()

,text,label,tweet_hashtags,datetime,origin,model
0,"An assessment of #NEAR, #RNDR, and #TAO’s pric...",#near,['#NEAR' '#RNDR' '#TAO' '#AI' '#token' '#Crypt...,2024-06-06,human,None
1,Could be...\n\n#Bitcoin.,#bitcoin,['#Bitcoin'],2024-18-05,human,None
2,#love #surfing #ascension #health #music #posi...,#love,['#love' '#surfing' '#ascension' '#health' '#m...,2024-27-05,human,None
3,#NationalTechnologyDay #Technology #AI #Scienc...,#nationaltechnologyday,['#NationalTechnologyDay' '#Technology' '#AI' ...,2024-12-05,human,None
4,The Obesity Treatment Program offered at Isha ...,#ishahealthsolutions,['#IshaHealthSolutions' '#YogicLifestyle' '#He...,2024-15-05,human,None

In [94]:
data = data.drop(columns = ['label', 'tweet_hashtags', 'datetime'])
data.head()

                                                text origin model
0  An assessment of #NEAR, #RNDR, and #TAO’s pric...  human  None
1                           Could be...\n\n#Bitcoin.  human  None
2  #love #surfing #ascension #health #music #posi...  human  None
3  #NationalTechnologyDay #Technology #AI #Scienc...  human  None
4  The Obesity Treatment Program offered at Isha ...  human  None

In [95]:
df = pd.concat([data, df], axis=0)
df['origin'].value_counts()

origin
human    404282
AI         2694
Name: count, dtype: int64

In [96]:
data = pd.read_csv('database/Twitter_Data.csv') # https://huggingface.co/datasets/Balasuriya/Twitter_Data
data.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [97]:
data = data.rename(columns = {'clean_text':'text'})
data['origin'] = 'human'
data['model'] = None
data = data.drop(columns = ['category'])
data.head()

                                                text origin model
0  when modi promised “minimum government maximum...  human  None
1  talk all the nonsense and continue all the dra...  human  None
2  what did just say vote for modi  welcome bjp t...  human  None
3  asking his supporters prefix chowkidar their n...  human  None
4  answer who among these the most powerful world...  human  None

In [98]:
df = pd.concat([data, df], axis=0)
df['origin'].value_counts()

origin
human    567262
AI         2694
Name: count, dtype: int64

In [100]:
#deixando com 300.000 dados de twitter human
df_human = df[df["origin"] == "human"]
df_amostra = df_human.sample(n=110568, random_state=42) 
df = df.drop(df_amostra.index)
df

                                                     text origin model
0       when modi promised “minimum government maximum...  human  None
1       talk all the nonsense and continue all the dra...  human  None
5                kiya tho refresh maarkefir comment karo   human  None
8       with upcoming election india saga going import...  human  None
9                              gandhi was gay does modi    human  None
...                                                   ...    ...   ...
394282  https://t.co/G9q6UhTxcw\n\nThis is a song for ...  human   NaN
394283       get jass away from me bro 😭 she joked outttt  human   NaN
394284  @centric_ But if I dont ban zed, Yone/Yasuo/Sy...  human   NaN
394285  @bgav23 Have you seen Herberts performance som...  human   NaN
394286   not great from sul, but that is KILLER from Amos  human   NaN

[401304 rows x 3 columns]

In [101]:
df['origin'].value_counts()

origin
human    398610
AI         2694
Name: count, dtype: int64

In [78]:
df.to_csv('database/concat_df.csv', index=False)